.caroussel-navigation {
    text-align: right;
}
.caroussel-list-cards {
    justify-content: space-between;
    display: flex;
    overflow-x: scroll;
}
.slider-card p {
    font-size: 10px;
    line-height: 24px;
    color: #FFFFFF;
}
.caroussel-list-cards.mini .slider-card{
    width: 48% !important;
}
.caroussel-list-cards .slider-card{
    /* width: 24% !important; */
    display: contents;
    overflow: hidden;
}
.caroussel-list-cards .slider-card img{
    width: 100% !important;
}