.caroussel-navigation {
    text-align: right;
}
.caroussel-list-cards {
    justify-content: space-between;
    display: flex;
    overflow-x: scroll;
}
.slider-card p {
    font-size: 10px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

.caroussel-list-cards .slider-card{
    width: 92% !important;
    text-align: right;
}

.caroussel-list-cards .slider-card img:not(.icon){
    width: 100% !important;
    height: 72px;
    border-radius: 3px;
}
.caroussel-list-cards .slider-card img.icon{
    position: absolute;
    top: 24%;
    margin-left: 5%;
    height: 19px;
}
.caroussel-list-cards .slider-card .slider-card-image{
    max-height: 72px;
    overflow: hidden;
}
a.slider-card-image{
    display: block;
}
.slider-card:hover{
    /* transform: scale(1.1); */
}

.caroussel-list-cards div.rec-slider-container{
    margin: 0;
}
.caroussel-list-cards.mini .slider-card img.icon{
    position: absolute;
    top: 37px;
    margin-left: 5%;
    height: 19px;
}
.caroussel-list-cards.mini{
    width: 106%;
    margin-left: -25px;
}
.caroussel-list-cards.mini .slider-card img:not(.icon) {
    height: 93px;
}