@font-face {
  font-family: karla-regular;
  src: url(../Assets/fonts/Karla-Regular.ttf);
}
@font-face {
  font-family: rubik-regular;
  src: url(../Assets/fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: rubik-bold;
  src: url(../Assets/fonts/Rubik-Bold.ttf);
}
@import url("./landing-responsive.scss");

.landing * {
  font-family: "karla-regular";
}
.landing-nav-bar {
  background: transparent !important;
  box-shadow: unset !important;
  height: 106px;
  z-index: 30 !important;
  width: 100%;
  position: fixed;

  transition: all ease .4s;
  img.logo {
    height: 38px;
  }
  &.ant-layout-header {
    padding: 37px 48px !important;
    background:  !important;
    height: unset !important;
  }
  &.white-nav {
    padding: 2px 48px !important;
    background: #fff !important;
    height: unset !important;
    box-shadow: 0px 3px 3px rgba(39, 47, 58, 0.2247) !important;
  }

  .menu-item {
    margin-right: 44px;
    color: #322f2f;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
  }
  .btn-login {
    padding: 0px 58px;
  }
}
// background-image: url(/landing-page/first-screen-ellipse.png);
.landing-page-container .section1 {
  padding-top: 227px;
  background: linear-gradient(180deg, #8dd6f5 0%, #2fbcd8 100%), #ffffff !important;
  padding-bottom: 120px;
  .main-svg img {
    position: absolute;
    right: 138px;
  }
  .main-svg {
    position: absolute;
    right: 9%;
    width: 119%;
  }
  .ant-col:first-child {
    padding-left: 143px;
  }
  .description p {
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #4d4d4d;
    img {
      position: absolute;
      left: 108px;
      margin-top: 12px;
    }
  }
}
.big-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  font-family: rubik-bold;
  color: #010101;
}
.title-description {
  font-size: 20px;
  line-height: 17px;
  text-align: center;
  color: #090e0f;
}
.yellow-btn {
  background: #facc0c;
  box-shadow: 0px 4px 4px rgba(11, 15, 98, 0.5);
  border-radius: 5px;
  border: none;
  padding: 0px 31px;
  height: 51px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  &:hover {
    box-shadow: 0px 3px 2px rgba(11, 15, 98, 0.5);
  }
  img {
    vertical-align: baseline;
  }
}
.bg {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-position-x: center;
}

.landing-page-container .section2 {
  padding-top: 219px;
  background: linear-gradient(
    180deg,
    #2fbcd7 2.49%,
    rgba(255, 255, 255, 1) 100%
  ) !important;
  padding-bottom: 135px;
  margin-top: -1px;
}

.slideshow-btn {
  width: 57px;
  height: 57px;
  border: solid 1px #facc0c;
  margin: auto;
  padding: 12pt 14pt;
  border-radius: 50%;
  // margin-top: 162%;
  cursor: pointer;
  transition: all ease 0.4s;
  text-align: start;
  &.left,
  &.left-arrow {
    float: right;
    margin-right: 32px !important;
  }
}
.slideshow-btn:hover {
  background-color: #facc0c;
  border: none;
}
.section2,
.section3 {
  img,
  .mobile-view {
    max-width: 100%;
  }
}
.landing {
  background: white;
}

.section3 {
  background-color: white;
  margin-bottom: 51px !important;
  .slideshow-btn.slideshow-btn-lg{
    margin-top: 19em;
  }
  .slideshow-col-right {
    margin-top: 3em;
    opacity: 0.3;
  }
  .slideshow-col-center {
    margin: 0px;
    // height: 117vh;
  }
  .slideshow-col-left {
    margin-top: 3em;
    opacity: 0.3;
    
  }
  .mobile-view-{
    z-index: 3;
    position: absolute;
    left: -4px;
  }
  .mobile-view-screen {
    border-radius: 2px;
    padding: 2em;
    margin-top: 2em;

  }
  .mobile-view {
    background-image: url(/landing-page/phone-slider.png);
    height: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    // width: 363px;
  }
}

.section5 {
  background-image: url(/landing-page/mambership-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-block-start: 82px;
  padding-block-end: 90px;
  .card-price {
    text-align: center;
    width: 350px;
    background: white;
    // height: 379px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 32px 109px;
    &.middle {
      height: 434px !important;
      width: 100%;
      position: relative;
      top: -21pt;
      z-index: 2;
    }
    .title {
      font-family: Rubik-regular;
      font-weight: bold;
      font-size: 30px;
      color: #010101;
    }
    .price {
      font-family: Rubik-regular;
      font-weight: bold;
      font-size: 17px;
      color: #6b6b6b;
    }
    .features {
      padding: 44px 0;
    }
  }
}
footer.footer-landing .ant-row {
  // line-height: 12.2;
  color: white;
  background-color: #232323;
  font-size: 17px;
  a {
    color: #facc0c !important;
    font-weight: bold !important;
  }
  .ant-col {
    padding: 66px 0;
  }
}
.no-padding {
  padding: 0 !important;
}
.section4 {
  max-height: 973px;
  background: #e1faff;
  padding-top: 113px;
  overflow: hidden;
  .slideshow-btn.left-arrow {
    margin-top: 275pt;
    margin-left: 70px;
  }
  .slideshow-btn.right-arrow {
    margin-top: 275pt;
    margin-right: 70px;
  }
  item .item-row {
    .item-col {
      padding: 42px 13px;
      &:hover {
        transform: translateY(-6px);
        .feature-icon {
          background-color: #69cbe9 !important;
          box-shadow: 0px 10px 30px rgba(7, 199, 247, 0.27) !important;
        }
      }
    }
    .feature-icon {
      transition: all ease 0.3s;
      background-color: #fefefe;
      border-radius: 50%;
      width: 94px;
      height: 94px;
      margin: auto;
      padding: 16pt;
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      &.bg-1{
        background-image: url(/landing-page/features-icon-1.svg);
      }
      &.bg-2{
        background-image: url(/landing-page/features-icon-2.svg);
      }
      &.bg-3{
        background-image: url(/landing-page/features-icon-3.svg);
        background-size: 40%;
      }
      &.bg-4{
        background-image: url(/landing-page/features-icon-4.svg);
      }
      &.bg-5{
        background-image: url(/landing-page/features-icon-5.svg);
      }
      &.bg-6{
        background-image: url(/landing-page/features-icon-6.svg);
      }
    }
    b {
      color: black;
      font-size: 18px;
      line-height: 2;
    }
    p {
      color: #616161;
      font-size: 18px;
      line-height: 1;
      // padding: 0 33pt;
      margin-top: 17px;
    }
  }
}
.no-margin {
  margin: 0 !important;
}
